body {
	background-image: url(12377912_10153817580073185_6342066330017462016_o.jpg);
	background-repeat: repeat;
	/*background-size: contain;*/
	background-position: 0px -175px;
	color: white;
	font-size: 27px;

}
section {
	display: flex;
	flex-wrap: wrap;

}
img {
	justify-content: center;
	height: 350px;
	width: 520px;

}