body {
/*	display: flex;*/
margin: 0px;
background-image: url(12377912_10153817580073185_6342066330017462016_o.jpg);
background-repeat: repeat;
/*background-size: contain;*/
background-position: 0px -175px;


}
section {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	color: white;
	font-size: 27px;
	font-weight: bold;
}

img {
	align-content: flex-end;
	margin: auto;
	margin-top: 100px;
	display: block;
	transition: all 2s;
	flex-direction: row;
	justify-content: center;
	height: 350px;
	width: 520px;
}

img:hover {
	transform: scale(1.120);
	animation: ease;
}
div > ul {
	list-style-type: none;
	background-color: lightgrey;
	text-decoration-line: underline;
	align-items: center;
	text-align: left;
	width: 250px;
	padding-right: 45px;
	margin-left: 820px;
	align-items: left;
	font-weight: 400;
	opacity: 0.8;
}
p { 
/*	background-color: sandybrown;*/
/*background-blend-mode: screen;*/
mix-blend-mode: difference;
}

.container {
	justify-content: center;
}



