.fulla {
	background-color: ;
	border: 2px solid cyan;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 1365px;
	width: 1054px;
}
.left_sec {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	width: 720px;
}
.left_w {
	display: flex;
	flex-direction: column;
	border: 2px solid blueviolet;
	height: 300px;
}
.right_sec {
	background-color: rgb(10, 18, 43);
	color: white;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
/*	align-content: center;*/
width: 300px;
}

.right_w {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	border: 2px solid silver;
/*	width: 320px;
	height: 480px;*/
}
.name {
	background-image: url(name2.jpg);
	background-repeat: no-repeat;
	background-position: 24px 25px;
	height: 175px;
}
.pict {
	background-color: rgb(43, 32, 10);
	height: 175px;
	width: 320px;
}

.contact {
	width: 320px;
	height: 620px;
}
.skills {
	width: 320px;
	height: 500px;
}
.education {
	background-image: url(SplitShire-0613.png);
	background-size: cover;
}
.experience {
	background-color: rgb(243, 158, 41);

}
.time

.time_inpar {
/*	height: 398px;*/
display: flex;
flex-direction: column;
justify-content: flex-start;
border: 2px solid salmon;
}

footer {
	background-color: black;
	border-radius: 66px;
	position: absolute ;
	width: 1050px;
	height: 35px;
	bottom: 0;
}
div h5 {
	font-family: 'Teko', sans-serif;
	font-size: 26px;
}