body {
	background-color: rgb(226, 172, 127);
	border-style: dotted;
	text-align: center;
}

.div.wrap {
	text-align: center;
}

/*.capsent {
	text-align: center;
}*/

ul {
	display: inline-block;
	list-style-type: none;
	text-align: left;

}

li::first-letter {
	font-size: 22px;
	font-weight: 50;
	font-family: fantasy;
}