body {
	background-color: rgb(226, 172, 127);
/*	border-style: dotted;*/
text-align: center;
}


table, th, td {
	border-style: dotted;
}


ul {
	/*border-style: dotted;*/
	display: inline-block;
	list-style-type: none;
	text-align: left;

}

li::first-letter {
	font-size: 22px;
	font-weight: 50;
	font-family: fantasy;
}