body {
  background-color: rgb(54, 67, 113);
}

.wrap {
  float: center;
  height: 150px;
  position: static;
}

.nav {
  float: left;
  background-color: rgb(176, 207, 255);
  padding: 10px;
}

.content {
  float: inherit;
  background-color: rgb(91, 127, 189);
  margin-left: 155px;
}
