section {
	border: 2px solid red;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
div {
	border: 2px solid black;
	background-color: lightblue;
	color: white;
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.top-buttom {
	height: 70px;
}

.middle {
	height: 120px;
	width: 50%;
	align-self: center;
}

