body {
	background: rgb(85, 204, 255);
}

ul {
	display: table;
	list-style-type: none;

}

li::first-letter {
	font-size: 22px;
	font-weight: 50;
	font-family: fantasy;
}

/*li {
	text-align: center;
}*/

/*.capsent::first-letter {

}*/

